.container
  %br
  - if user_signed_in? && current_user.role >= 2
    = link_to t(:new_article), new_news_article_path, class: "btn btn-primary"
  %br
  
  %div#news_articles_index
    - @articles.each_slice(3) do |slice|
      %ul.list-inline
        -slice.each do |article|
          %li.news_thumb
            - if article.image?
              = image_tag article.image.url(:medium), class: "news_image"
            - else
              = image_tag "default_news_image", class: "news_image"
            %h3.news_title= link_to article.title, news_article_path(article)
