-if user_signed_in? && current_user.role == 3
  = link_to "Delete this article", news_article_path(@article), method: :delete, data: {confirm: "Are you sure?"}

%h1= @article.title
%p= @article.article

- if @article.image?
  = image_tag @article.image.url(:large)