= "hello, #{@record.email}!"
%br
%br
= "Thank you for registration in our website!"
%br
= "To confirm your account, click on this link: "

=link_to "activate", user_confirmation_url(confirmation_token: @token)
