= render "shared/main_menu"

.container
  %h1= t(:players_list)

  -if user_signed_in? && current_user.role >= 2
    = link_to t(:add_new_player), new_player_path
  %br
  %br

  - @players.each do |player|
    = link_to player.name, player_path(player)
    %br