%h1 Here are list of all players

-if user_signed_in? && current_user.role >= 2
  = link_to "Add a new player", new_player_path

%br

- @players.each do |player|
  = link_to player.name, player_path(player)
  %br