#awaiting_games{
	background-color: white;
	opacity: 0.8;
	margin-bottom: 30px;
}

#hidden_games{
	margin-bottom: 30px;
}

#admin_show{
	margin-bottom: 50px;
	opacity: 0.9;
}

#administration_nav li{
	padding-right: 30px;
}

#pending_games{
	opacity: 0.9;
}