.reply{
	background-color: #e6f2ff;
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.content{
	padding-left: 20px;
}

.nested_replies{
	margin-left: 30px;
}

#article_author{

}
