.new_stat form {
 overflow:hidden;}

.new_stat label {
 float: left;
 width: 5%;
}

#select_field {
  float: left;
  width: 100px;
}

#select_label{
  width: 100px; 
}


#save_player_stat{
float:right;
}

.new_stat input {
 float: left;
 width: 5%;
 }
